.section-page {
  position: relative;
  left: -12px;
  top: 74px;
  width: 1322.94px;
  height: 600px;
  background-color: #fcfcfc;
}

.div-block-7 {
  height: 55.9957px;
  margin-right: 0px;
  margin-left: -16px;
}

.text-block-9 {
  margin-top: 17px;
  margin-left: 2px;
  padding-left: 0px;
  font-size: 17px;
  cursor: pointer;
}

.button-logo-logged-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 105.274px;
  height: 39.9913px;
  min-width: 71.96px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 62px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0px;
  background-color: rgba(56, 152, 236, 0);
  font-family: 'Fa solid 900', sans-serif;
  color: #065fd4;
  font-size: 16.6957px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.007px;
}

.div-block-5 {
  width: 60px;
  height: 55.9957px;
  margin-left: 8px;
}

.image {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: 25px;
  cursor: pointer;
}

.text-block-10 {
  width: 105.274px;
  height: 39.9913px;
  margin-top: 10px;
  margin-left: 52px;
  padding: 9px 8px;
  line-height: 23px;
  font-weight: 500;
  cursor: pointer;
}

.div-block-6 {
  width: 30px;
}

.text-block-8 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  margin-top: 16px;
  margin-left: 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #0d0d0d;
  font-size: 19px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
}

.div-block-8 {
  height: 55.9957px;
}

.topnav-section {
  display: block;
  width: 1554.94px;
  height: 55.9957px;
}

.topnav-wrap {
  display: -ms-grid;
  display: grid;
  width: 1554.94px;
  height: 55.9957px;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-2 Area-3 . Area-4";
  -ms-grid-columns: 60px 18px 24px 18px 105px 18px 1137px 18px auto;
  grid-template-columns: 60px 24px 105px 1137px auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-3 {
  width: 23px;
  height: 23px;
  margin-top: 17px;
  background-color: #fff;
  cursor: pointer;
}

.section {
  position: relative;
  top: 18px;
  display: -ms-grid;
  display: grid;
  width: 232px;
  height: 600px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 39.9913px 0px 39.9913px;
  grid-template-rows: 39.9913px 39.9913px;
}

.div-block-10 {
  position: relative;
  display: -ms-grid;
  display: grid;
  height: 39.9913px;
  grid-auto-columns: 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 108px;
  grid-template-areas: "Area Area-2";
  -ms-grid-columns: 60px 3px 1.5fr;
  grid-template-columns: 60px 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-10:hover {
  background-color: #d4d2d2;
}

.div-block-11 {
  width: 24px;
  height: 24px;
}

.button-2 {
  position: relative;
  top: 3px;
  right: 3px;
  width: 23px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  font-size: 24px;
  line-height: 2px;
  text-align: center;
}

.div-block-12 {
  height: 39.9913px;
}

.text-block-11 {
  position: relative;
  left: 17px;
  padding-top: 1px;
  color: #000;
  font-size: 16px;
  line-height: 39px;
  cursor: pointer;
}

.button-3 {
  position: relative;
  left: -6px;
  bottom: 10px;
  background-color: rgba(56, 152, 236, 0);
  color: #000;
  font-size: 21px;
  line-height: 24px;
}

.button-4 {
  position: relative;
  left: -4px;
  top: -7px;
  background-color: transparent;
  color: #000;
  font-size: 23px;
}

.heading {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Oswald, sans-serif;
}

.text-field {
  width: 200px;
  margin-left: 617px;
  border-radius: 20px;
}

.div-block-13 {
  display: -ms-grid;
  display: grid;
  width: 1250px;
  height: 500px;
  margin-left: 37px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". Area";
  -ms-grid-columns: 1fr 16px 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
  background-color: #fff;
  box-shadow: 7px 12px 20px -20px #000;
}

.text-field-2 {
  position: relative;
  display: block;
  width: 300px;
  margin-top: 29px;
  margin-left: 454px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: hsla(0, 0%, 64.3%, 0.14);
}

.field-label {
  position: relative;
  margin-left: 455px;
}

.div-buo {
  position: relative;
  display: block;
  width: 300px;
}

.text-field-3 {
  position: relative;
  top: 32px;
  display: block;
  width: 300px;
  margin-left: 453px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 0px;
}

.text-block-12 {
  position: relative;
  left: 4px;
  top: 41px;
  margin-left: 449px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.button-5 {
  position: relative;
  left: 5px;
  top: 55px;
  display: block;
  width: 150px;
  margin-left: 448px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 20px;
  background-color: rgba(132, 132, 132, 0.53);
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.text-block-13 {
  position: relative;
  left: 449px;
  top: 91px;
}

.heading-2 {
  position: relative;
  left: 450px;
  top: -104px;
  margin-top: -113px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.div-block-14 {
  position: relative;
  top: 130px;
  width: 500px;
  height: 200px;
  border: 1px solid #000;
}

.paragraph {
  position: relative;
  left: 450px;
  top: -27px;
  width: 500px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 10px;
}

.div-block-15 {
  position: relative;
  left: 450px;
  top: 102px;
  width: 500px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 20px;
}

.text-field-4 {
  width: auto;
  height: auto;
  padding-top: 34px;
  border: 1px none #000;
}

.body {
  border: 1px none #000;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
}

.text-block-14 {
  position: relative;
  left: 450px;
  top: 116px;
}

.button-6 {
  position: relative;
  left: 450px;
  top: 123px;
  border-radius: 20px;
  background-color: rgba(132, 132, 132, 0.53);
}

.div-block-16 {
  display: -ms-grid;
  display: grid;
  width: 500px;
  height: 200px;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-2";
  -ms-grid-columns: 1fr 16px 1.75fr;
  grid-template-columns: 1fr 1.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-17 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 16px 3.25fr;
  grid-template-columns: 1fr 3.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.text-block-15 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.div-block-18 {
  width: 500px;
  height: 500px;
}

.d1 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-2";
  -ms-grid-columns: 54px 0px 2.25fr;
  grid-template-columns: 54px 2.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field-5 {
  position: relative;
  top: 20px;
  width: 500px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #000;
  border-radius: 0px;
  font-family: Montserrat, sans-serif;
}

.div-block-19 {
  position: relative;
  top: 9px;
}

.text-block-16 {
  position: relative;
  left: 13px;
  top: 20px;
  margin-top: -18px;
  margin-bottom: 12px;
  padding-top: 26px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

.div-block-20 {
  position: relative;
  left: 13px;
  top: 19px;
  width: 200px;
  height: 60px;
}

.button-7 {
  position: relative;
  bottom: -13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 4px -2px #928e8e;
  font-family: Montserrat, sans-serif;
  color: #000;
}

.div-block-21 {
  position: relative;
  top: 16px;
  height: 200px;
}

.text-block-17 {
  position: relative;
  left: 13px;
  margin-top: 21px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

.text-field-6 {
  position: relative;
  top: 7px;
  display: block;
  overflow: visible;
  width: 500px;
  height: 100px;
  margin-top: -4px;
  margin-bottom: 16px;
  padding-top: 0px;
  padding-bottom: 22px;
  border-radius: 11px;
  -o-object-fit: fill;
  object-fit: fill;
}

.button-8 {
  position: relative;
  left: 417px;
  bottom: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #000;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
  font-family: Montserrat, sans-serif;
  color: #000;
}

.div-block-22 {
  width: 500px;
  height: 60px;
}

.text-block-18 {
  position: relative;
  left: 6px;
  top: -12px;
  margin-top: -5px;
  padding-top: 8px;
}

.div-block-23 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-19 {
  font-family: 'Fa solid 900', sans-serif;
  color: #220606;
  font-size: 141px;
}

.text-block-20 {
  position: relative;
  left: 20px;
  bottom: -28px;
  margin-right: 4px;
  margin-left: -34px;
  padding-top: 11px;
  font-family: 'Fa solid 900', sans-serif;
  font-size: 20px;
  text-align: center;
}

.text-field-7 {
  position: relative;
  left: -7px;
  bottom: -25px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
}

.text-field-8 {
  width: 60%;
  margin-top: 6px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0 #000;
  text-align: center;
  cursor: pointer;
}

.form-2 {
  width: 24%;
  margin-top: 4px;
  margin-left: 380px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0 #000;
  text-align: center;
  cursor: pointer;
}

.form-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  border: 1px none #eae6df;
  border-radius: 20px;
  color: #000;
}

.text-field-9 {
  margin-top: 16px;
}

.submit-button {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 9px;
  padding-top: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
  color: #000;
}

.form-4 {
  height: 100px;
  padding-top: 19px;
}

#w-node-7082ee60f9c8-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.section>#w-node-7082ee60f9c8-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-10>#w-node-7082ee60f9c8-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-13>#w-node-7082ee60f9c8-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.div-block-16>#w-node-7082ee60f9c8-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-17>#w-node-7082ee60f9c8-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.d1>#w-node-7082ee60f9c8-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-7082ee60f9c9-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
  -ms-grid-column-align: center;
  justify-self: center;
}

.section>#w-node-7082ee60f9c9-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-10>#w-node-7082ee60f9c9-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-13>#w-node-7082ee60f9c9-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.div-block-16>#w-node-7082ee60f9c9-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-17>#w-node-7082ee60f9c9-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.d1>#w-node-7082ee60f9c9-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-f3ecccf74c06-5e73cc22 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f40380adccd1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.section>#w-node-f40380adccd1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-10>#w-node-f40380adccd1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-13>#w-node-f40380adccd1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.div-block-16>#w-node-f40380adccd1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-block-17>#w-node-f40380adccd1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.d1>#w-node-f40380adccd1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-7082ee60f9d1-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: Area-4;
}

#w-node-7082ee60f9d3-5e73cc22 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: Area-4;
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}